*.class
*.log

# sbt specific
.cache
.cache-main
.cache-tests
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IDE stuff
.project
.settings
.classpath
.settings/
bin/
\.idea/
\.vscode
*.code-workspace

*.db

\.ensime_cache/

\.ensime


# the secret configuration that we don't want on git
secret.conf
/secret/

# Metals scala tool
/.bloop
/.metals
/project/.bloop